*.ps1 linguist-detectable=false
behavior/**/*.json linguist-vendored=true
general/**/*.json linguist-vendored=true
language/**/*.json linguist-vendored=true
resource/**/*.json linguist-vendored=true
skinpacks/**/*.json linguist-vendored=true
*.json linguist-detectable=true

node_modules/
node_modules