*.ps1 linguist-detectable=false

behavior/**/*.json linguist-generated=true
general/**/*.json linguist-generated=true
language/**/*.json linguist-generated=true
resource/**/*.json linguist-generated=true
skinpacks/**/*.json linguist-generated=true

*.json linguist-detectable=true
test/**/*.json linguist-vendored=true